.prayer-wrapper {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0px 0px 10px 0px #000000;   
  margin-top: 10%;
}

.row {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

input, select, textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea {
  height: 100px;
}

.submit-btn, .back-btn {
  padding: 10px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
}

.back-link {
  color: blue;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 15px;
}

.confirmation {
  text-align: center;
  padding: 20px;
  line-height: 1.5;

  
}

.checkmark {
  font-size: 50px;
  color: green;
}

.subtext {
  font-size: 20px;
}

.telugu-subtext {
  font-size: 20px;
  font-weight: 600;
}

@media (max-width: 425px) {
  .row {
     flex-direction: column;
  }

  .prayer-wrapper {
     padding: 15px;
     margin: 20px;
     margin-top: 20%;
  }

  .submit-btn, .back-btn {
     font-size: 16px;
  }
  textarea {
     overflow-y: auto;
     word-wrap: break-word;
     white-space: pre-wrap;
  }
}
