*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
.watchnow{
    /* Masked text effect */
    background-image: url("/prayer.avif");
    -webkit-mask-image: linear-gradient(white, white); /* fallback for Safari */
    mask-image: linear-gradient(white, white);
    -webkit-mask-size: cover;
    mask-size: cover;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    width: 90%;
    margin-left: 5%;
}
.now h1{
    position: relative;
    top: 150px;
    color: rgb(155, 13, 119);
    font-size: 50px;
    font-weight: 700;
    margin-left: 55%;
}
.now p{
    position: relative;
    top: 170px;
    color: rgb(39, 131, 16);
    font-size: 25px;
    margin-left: 45%;
    font-weight: 600;
}
.video1{
    display: flex;
    justify-content: space-evenly;
    margin-top: 3%;
}
.video1 iframe{
    box-shadow: none;
    border: none;
}

/* Mobile Version (Max Width: 425px) */
@media screen and (max-width: 425px) {

  .watchnow {
    height: 35vh;
    width: 95%;
    margin-left: 5%;
  }

  .now h1 {
    font-size: 35px;
    position: absolute;
   margin-top: 5%;
    margin-left: 40%;
    color: rgb(155, 13, 119);
  }

  .now p {
    font-size: 15px;
    position: absolute;
    margin-top: 15%;
   margin-left: 10%;
    color: white;
    text-align: left;
    display: none
  }
  .video1 {
    flex-direction: column;
    align-items: center;
  }

  .video1 iframe {
    width: 90%;
    height: 200px;
    margin-bottom: 10px;
  }

 
}
